@import url("flatpickr/dist/flatpickr.min.css");
@import url("izitoast/dist/css/iziToast.min.css");

* {
  box-sizing: border-box;
}

img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

button {
  margin-bottom: 16px;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  list-style: none;
  gap: 16px;
  /* column-gap: 24px; */
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  list-style: none;
  gap: 4px;
}

.value {
  font-size: 40px;
}
