@import url("./reset.css");
@import url("izitoast/dist/css/iziToast.min.css");

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  padding: 24px;
  margin: 0 auto;
  box-shadow: 0 10px 10px 0 #cccccc;
  /* gap: 16px; */
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

label input[name="delay"] {
  display: flex;
  flex-direction: column;
  width: 350px;
  /* padding: 24px; */
}
